mixin select(list, field, name, selected)
  select(name!=name)
    each item in list
      if item.id == selected
        option(value!=item.id selected)!=item[field]
      else
        option(value!=item.id)!=item[field]

div.model
  h2!=modelData.name
  table
    thead
      tr
        th №
        each key in modelData.keys
          th #{ modelData.fields[key] }
    each item in modelData.data
      tbody
        form(method='post')
          tr
            td!=item.id
            each key in modelData.keys
              - const field = modelData.hardFields[key]
              td
                if field
                  +select(field.data, field.field, key, item[key])
                else
                  input(type='text' name!=key value!=item[key])
            td
              input(type='reset' value='reset')
            td
              button(type='submit' formaction='/admin/'+modelData.name+'/update/'+item.id) save
    tbody
      form(method='post')
        tr
          td
          each key in modelData.keys
            - const field = modelData.hardFields[key]
            td
              if field
                +select(field.data, field.field, key)
              else
                input(type='text' name!=key)
          td
            input(type='reset' value='reset')
          td
            button(type='submit' formaction='/admin/'+modelData.name+'/add') add
              
