.product
  .title #{ product.name }
  .body
    .manufacture Manufacture: #{ product.manufacture }
    .variants
      if userData && userData.role == 'customers'
        each item in product.variants
          button(class='variant' data-target!=item.variant) #{ item.variant }
            form.variant(name!=item.variant id!=item.variant method='post' action='/basket/put')
              input(type='hidden' name='id' value!=item.id)
              input(type='hidden' name='cost' value!=item.cost)
        .controls
          - const item = product.variants[0] || {}
          label Count:
          input(type='number' class='variant-count' min='1' value='1' name='count' form!=item.variant)
          .variant-cost Cost: #{ item.cost }
          input(type='submit' class='variant-submit' value='Put basket' form!=item.variant)
      else
        each item in product.variants
          div.variant
            .title #{ item.variant }
            .cost #{ item.cost }
